// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import login form
@import 'signin';

@import 'style.blue';

// Fort Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Import dashboard
//@import 'dashboard';

//body{
//    background: teal;
//}
 .btn-grad{
    background:linear-gradient(200deg, rgba(24,164,246, 0.8),rgba(144,89,255, 0.8))!important;
 }

 .btn-grad:hover{
    background:#858796!important;
 }

 /*.parallax{
   background: no-repeat fixed;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   -ms-background-size:cover;
   background-size:cover;
 }*/

 
 .search-nav input[type=text] {
   width: 130px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
 }
 
 /* When the input field gets focus, change its width to 100% */
 .search-nav input[type=text]:focus {
   width: 30%;
 }